# Dependencies
node_modules
dist
build
.vite

# Environment variables (Do not commit sensitive keys)
.env
.env.local
*.env

# SQLite Database local files
*.sqlite
*.db

# Docker & OS logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
